{% extends "squash/base.html" %}
{% block content %}
{% if project %}
    <b><a href="/squash/projects/">Projects</a> -> <a href="/squash/project/{{project.key}}">{{ project.name }}</a></b><br/><br/>
    {% if project.sorted_versions > 0 %}
        {% if project.future_issues > 0 %}
            {% with version=None %}
                {% include "squash/piece_project_version_issues.html" %}
            {% endwith %}
        {% endif %}
        {% for version in project.sorted_versions %}
            {% include "squash/piece_project_version_issues.html" %}
        {% endfor %}
    {% else %}
        <i>This project has no versions</i>
    {% endif %}

    <table>
        <tr>
            <td>
                <a href="/squash/newVersion/{{ project.key }}" class="input">Create new Version</a>
            </td>
            <td>
                <a href="/squash/newIssue/{{ project.key }}" class="input">Create new Issue</a>
            </td>
            <td>
                <a href="/squash/confirmDeleteProject/{{ project.key }}" class="input_err">Delete This Project</a>
            </td>
        </tr>
    </table>
    
{% endif %}
{% endblock %}